<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMu0ZCcN7iyxf4xMqI16_Z5aN5PG274gY</string>
	<key>GCM_SENDER_ID</key>
	<string>322295587015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padelmatch.tbgroup</string>
	<key>PROJECT_ID</key>
	<string>padelmatch-151da</string>
	<key>STORAGE_BUCKET</key>
	<string>padelmatch-151da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322295587015:ios:f1f5b10a075fa199c35ee2</string>
</dict>
</plist>